<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">
          Edit "{{ player?.long_name }}"
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="onClose()"
          aria-label="Close"
        ></button>
      </div>
      <div *ngIf="!player; else playerContent">Cargando...</div>

      <ng-template #playerContent>
        <div class="modal-body">
          <form>
            <div *ngFor="let field of fieldsForm" class="mb-3">
              <label [for]="field.key" class="form-label">{{
                field.label
              }}</label>
              <input
                type="text"
                class="form-control"
                [id]="field.key"
                [(ngModel)]="player[field.key]"
                [name]="field.key"
                [placeholder]="field.placeholder"
              />
            </div>
          </form>
        </div>
      </ng-template>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="onSave()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
