<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!error" class="modal-title" id="editModalLabel">
          {{ player ? "Edit: " + player.long_name : "Cargando..." }}
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="onClose()"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{ error }}
        </div>

        <ng-container *ngIf="!error">
          <div *ngIf="!player" class="text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <p>Esperando...</p>
          </div>

          <ng-container *ngIf="player && !loading">
            <form>
              <div *ngFor="let field of fieldsForm" class="mb-3">
                <label [for]="field.key" class="form-label">
                  {{ field.label }}
                </label>
                <input
                  type="text"
                  class="form-control"
                  [id]="field.key"
                  [(ngModel)]="editedPlayer[field.key]"
                  (ngModelChange)="onFieldChange()"
                  [name]="field.key"
                  [placeholder]="field.placeholder"
                />
              </div>
            </form>
          </ng-container>
        </ng-container>
      </div>

      <div
        class="modal-footer p-3 d-flex justify-content-between align-items-center"
      >
        <span class="text-muted me-auto">
          {{ player ? "Fifa v" + player.fifa_version + "." : "" }}
        </span>

        <div class="d-flex">
          <button type="button" class="btn btn-secondary" (click)="onClose()">
            Close
          </button>
          <button
            *ngIf="!error"
            type="button"
            class="btn btn-primary ms-2"
            (click)="onSave()"
            [disabled]="!isFormChanged"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
