<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">
          Edit "{{ player.name }}"
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="onClose()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="playerName" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="playerName"
              [(ngModel)]="player.name"
              name="playerName"
              placeholder="Enter name"
            />
          </div>
          <div class="mb-3">
            <label for="playerClub" class="form-label">Club</label>
            <input
              type="text"
              class="form-control"
              id="playerClub"
              [(ngModel)]="player.club"
              name="playerClub"
              placeholder="Enter club"
            />
          </div>
          <div class="mb-3">
            <label for="playerPosition" class="form-label">Position</label>
            <input
              type="text"
              class="form-control"
              id="playerPosition"
              [(ngModel)]="player.position"
              name="playerPosition"
              placeholder="Enter position"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="onSave()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
