<app-toast
  [showToast]="showToast"
  [toastMessage]="toastMessage"
  [toastSize]="toastSize"
  (onClose)="showToast = false"
></app-toast>

<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Account</h1>
</div>

<div class="login-container">
  <div class="form-signin w-100 m-auto">
    <form (ngSubmit)="isLogin ? onLogin() : onRegister()" #loginForm="ngForm">
      <h2 class="h3 mb-3 fw-normal">{{ isLogin ? "Login" : "Register" }}</h2>

      <div class="form-group form-floating">
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          class="form-control"
          placeholder="name@example.com"
          required
          minlength="3"
          #usernameField="ngModel"
          (ngModelChange)="clearError()"
        />
        <label for="username">User</label>
        <div
          *ngIf="usernameField.invalid && usernameField.touched"
          class="text-danger my-3"
        >
          <small *ngIf="usernameField.errors?.['required']"
            >Username is required.</small
          >
          <small *ngIf="usernameField.errors?.['minlength']"
            >Username must be at least 3 characters long.</small
          >
        </div>
      </div>
      <div class="form-group form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Password"
          required
          minlength="6"
          #passwordField="ngModel"
          (ngModelChange)="clearError()"
        />
        <label for="password">Password</label>

        <div
          *ngIf="passwordField.invalid && passwordField.touched"
          class="text-danger"
        >
          <small *ngIf="passwordField.errors?.['required']"
            >Password is required.</small
          >
          <small *ngIf="passwordField.errors?.['minlength']"
            >Password must be at least 6 characters long.</small
          >
        </div>
        <small *ngIf="error" class="text-danger">{{ error }}</small>
      </div>

      <button
        class="btn btn-primary w-100 my-3 py-2"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        {{ isLogin ? "Sign In" : "Sign Up" }}
      </button>
      <div class="text-center">
        <p *ngIf="isLogin">
          Don't have an account?
          <a class="link" (click)="toggleForm()">Register</a>
        </p>
        <p *ngIf="!isLogin">
          Already have an account?
          <a class="link" (click)="toggleForm()">Sign In</a>
        </p>
      </div>

      <p class="mt-5 mb-3 text-center text-body-secondary">
        &copy;SantexAcademy 2024
      </p>
    </form>
  </div>
</div>
