<div>
  <div
    class="offcanvas-md offcanvas-end bg-body-tertiary"
    tabindex="-1"
    id="sidebarMenu"
    aria-labelledby="sidebarMenuLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">Santex Challenge</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        data-bs-target="#sidebarMenu"
        aria-label="Close"
      ></button>
    </div>
    <div
      class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto"
    >
      <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let item of navigationItems">
          <a
            class="nav-link d-flex align-items-center gap-2"
            [routerLink]="item.route"
            routerLinkActive="active"
            aria-current="page"
            (click)="item.name === 'Sign out' ? onLogout() : null"
          >
            <i class="{{ item.icon }}"></i>
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
